<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="corrosion" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
<unit id="org.eclipse.unittest.ui" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.20-I-builds/I20210526-2310/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.lsp4e" version="0.0.0"/>
<unit id="org.eclipse.cdt.debug.core" version="0.0.0"/>
<unit id="org.eclipse.cdt.core" version="0.0.0"/>
<unit id="org.eclipse.cdt.launch" version="0.0.0"/>
<unit id="org.eclipse.cdt.dsf.gdb" version="0.0.0"/>
<unit id="org.eclipse.cdt.dsf.gdb.ui" version="0.0.0"/>
<unit id="org.eclipse.cdt.dsf" version="0.0.0"/>
<unit id="org.eclipse.cdt.native.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.core" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.control" version="0.0.0"/>
<unit id="org.eclipse.jface.text" version="0.0.0"/>
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.ui.genericeditor" version="0.0.0"/>
<unit id="org.eclipse.pde.junit.runtime" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit5.runtime" version="0.0.0"/>
<unit id="org.junit.jupiter.api" version="0.0.0"/>
<unit id="org.junit.jupiter.params" version="0.0.0"/>
<unit id="org.opentest4j" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epp.package.common.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2021-06/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license/"/>
</location>
</locations>
</target>