<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="toml"
            id="org.eclipse.corrosion.toml"
            name="%toml.content-type.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="rs"
            id="org.eclipse.corrosion.rust"
            name="%content-type.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.corrosion.toml"
            file-names="Cargo.toml"
            id="org.eclipse.corrosion.manifest"
            name="%content-type.name.0"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <editorContentTypeBinding
        contentTypeId="org.eclipse.corrosion.rust"
        editorId="org.eclipse.ui.genericeditor.GenericEditor">
   		</editorContentTypeBinding>
     <editorContentTypeBinding
        contentTypeId="org.eclipse.corrosion.toml"
        editorId="org.eclipse.ui.genericeditor.GenericEditor">
   		</editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
     <server
        class="org.eclipse.corrosion.edit.RLSStreamConnectionProvider"
        id="org.eclipse.corrosion.rls"
        label="org.eclipse.corrosion.RLS"
        clientImpl="org.eclipse.corrosion.edit.RLSClientImplementation"
        serverInterface="org.eclipse.corrosion.edit.RLSServerInterface">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.corrosion.rust"
            id="org.eclipse.corrosion.rls">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.corrosion.manifest"
            id="org.eclipse.corrosion.rls">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="grammar/rust.tmLanguage.json"
            scopeName="source.rust">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.corrosion.rust"
            scopeName="source.rust">
      </scopeNameContentTypeBinding>
      <grammar
            path="grammar/TOML.tmLanguage"
            scopeName="source.toml">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.corrosion.toml"
            scopeName="source.toml">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.corrosion.rust">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.corrosion.snippet.SnippetContentAssistProcessor"
            contentType="org.eclipse.corrosion.rust">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
            class="org.eclipse.corrosion.CorrosionPreferenceInitializer">
		</initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.corrosion.CorrosionPreferencePage"
            id="org.eclipse.corrosion.preferencePage"
            name="%page.name">
      </page>
      <page
            category="org.eclipse.corrosion.preferencePage"
            class="org.eclipse.corrosion.edit.TextEditorPreferencePage"
            id="org.eclipse.corrosion.texteditor"
            name="%page.name.0">
      </page>
      <page
            category="org.eclipse.corrosion.preferencePage"
            class="org.eclipse.corrosion.debug.DebugPreferencePage"
            id="org.eclipse.corrosion.debug"
            name="%debugPreferencePage">
      </page>
   </extension>
   <extension
       point="org.eclipse.core.expressions.definitions">
    <definition id="org.eclipse.corrosion.isCargoProject">
       <with variable="selection">
          <count value="1"/>
          <iterate>
             <adapt type="org.eclipse.core.resources.IResource">
                <test property="org.eclipse.corrosion.isCargoProject"
                      forcePluginActivation="true"/>
             </adapt>
          </iterate>
       </with>
     </definition>
   </extension>
<!-- WIZARDS -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.corrosion.rust"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.corrosion.rust"
            class="org.eclipse.corrosion.wizards.newproject.NewCargoProjectWizard"
            icon="icons/cargo.png"
            id="org.eclipse.corrosion.wizards.newCargo"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.corrosion.rust"
            class="org.eclipse.corrosion.wizards.export.CargoExportWizard"
            icon="icons/cargo.png"
            id="org.eclipse.corrosion.wizards.export"
            name="%wizard.name.0">
         <description>
            %wizard.description
         </description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <category
            id="org.eclipse.corrosion.rust"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.corrosion.rust"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.corrosion.rust"
            class="org.eclipse.corrosion.wizards.importexisting.ImportWizard"
            icon="icons/rust.png"
            id="org.eclipse.corrosion.wizards.importexisting"
            name="%wizard.name.1">
      </wizard>
   </extension>
<!-- LAUNCH CONFIGURATIONS -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.corrosion.run.CargoRunDelegate"
            id="org.eclipse.corrosion.run.CargoRunDelegate"
            modes="run"
            name="%launchConfigurationType.name">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.corrosion.test.CargoTestDelegate"
            id="org.eclipse.corrosion.test.CargoTestDelegate"
            modes="run"
            sourceLocatorId="com.eclipse.corrosion.test.sourselookup.SourceLocator"
            sourcePathComputerId="com.eclipse.corrosion.test.sourselookup.sourcePathComputer"
            name="%launchConfigurationType.name.0">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.eclipse.corrosion.debug.RustDebugDelegate"
            id="org.eclipse.corrosion.debug.RustDebugDelegate"
            modes="debug"
            name="%launchConfigurationType.name.1"
            public="true"
            sourceLocatorId="com.eclipse.corrosion.debug.SourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.corrosion.run.CargoRunTabGroup"
            id="org.eclipse.corrosion.run.CargoRunTabGroup"
            type="org.eclipse.corrosion.run.CargoRunDelegate">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.corrosion.test.CargoTestTabGroup"
            id="org.eclipse.corrosion.test.CargoTestTabGroup"
            type="org.eclipse.corrosion.test.CargoTestDelegate">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.corrosion.debug.RustDebugTabGroup"
            id="org.eclipse.corrosion.debug.RustDebugTabGroup"
            type="org.eclipse.corrosion.debug.RustDebugDelegate">
      </launchConfigurationTabGroup>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            id="org.eclipse.corrosion.run.CargoRunTypeImage"
            configTypeID="org.eclipse.corrosion.run.CargoRunDelegate"
            icon="icons/cargo.png">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            id="org.eclipse.corrosion.test.CargoTestTypeImage"
            configTypeID="org.eclipse.corrosion.test.CargoTestDelegate"
            icon="icons/cargo.png">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            id="org.eclipse.corrosion.debug.RustDebugTypeImage"
            configTypeID="org.eclipse.corrosion.debug.RustDebugDelegate"
            icon="icons/rust.png">
      </launchConfigurationTypeImage>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="org.eclipse.corrosion.cargoProjectTester"
            type="org.eclipse.core.resources.IResource"
            namespace="org.eclipse.corrosion"
            properties="isCargoProject"
            class="org.eclipse.corrosion.cargo.core.CargoProjectTester">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            id="org.eclipse.corrosion.run.Shortcut"
            class="org.eclipse.corrosion.run.CargoRunDelegate"
            label="%shortcut.label"
            icon="icons/cargo.png"
            modes="run">
         <contextualLaunch>
            <enablement>
               <reference definitionId="org.eclipse.corrosion.isCargoProject"/>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            id="org.eclipse.corrosion.test.Shortcut"
            class="org.eclipse.corrosion.test.CargoTestDelegate"
            label="%shortcut.label.0"
            icon="icons/cargo.png"
            modes="run">
         <contextualLaunch>
            <enablement>
               <reference definitionId="org.eclipse.corrosion.isCargoProject"/>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.eclipse.corrosion.debug.RustDebugDelegate"
            icon="icons/rust.png"
            id="org.eclipse.corrosion.debug.Shortcut"
            label="%shortcut.label.1"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <reference definitionId="org.eclipse.corrosion.isCargoProject"/>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.corrosion.debug.SourceLookupDirector"
            id="com.eclipse.corrosion.debug.SourceLocator"
            name="%sourceLocator.name">
      </sourceLocator>
      <sourceLocator
            class="org.eclipse.corrosion.sourcelookup.CargoSourceLookupDirector"
            id="com.eclipse.corrosion.test.sourselookup.SourceLocator"
            name="%test.sourceLocator.name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.corrosion.sourcelookup.CargoSourcePathComputerDelegate"
            id="com.eclipse.corrosion.test.sourselookup.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="org.eclipse.corrosion.sourcelookup.CargoProjectSourceContainerType"
            description="%containerDescription.project"
            id="org.eclipse.corrosion.containerType.project"
            name="%containerName.project"/>
      <sourceContainerType
            class="org.eclipse.corrosion.sourcelookup.CargoAbsolutePathSourceContainerType"
            description="%containerDescription.absolutePath"
            id="org.eclipse.corrosion.containerType.absolutePath"
            name="%containerName.absolutePath"/>
    </extension>
    
<!-- INCREMENTAL BUILD PROCESS -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#TextEditorContext?after=additions">
        <command
               commandId="org.eclipse.corrosion.commands.Implementations"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
          point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.lsp4e.category"
            id="org.eclipse.corrosion.commands.Implementations"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.corrosion.extensions.Implementations"
            commandId="org.eclipse.corrosion.commands.Implementations">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension>

<!-- BREAKPOINTS -->
	<extension point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
      <toggleTargetFactory
            class="org.eclipse.corrosion.debug.ToggleBreakpointsTargetFactory"
            id="com.eclipse.corrosion.debug.ToggleBreakpointsTargetFactory">
      </toggleTargetFactory>
   </extension>

   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
         targetID="org.eclipse.ui.genericeditor.GenericEditor"
         id="org.eclipse.corrosion.debug.EditorBreakpointRulerActions">

         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="Editor.rulerDoubleClickAction"
               label="%action.label">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.eclipse.corrosion.rust"
            path="language-configurations/language-configuration.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            contextId="org.eclipse.ui.textEditorScope"
            commandId="org.eclipse.tm4e.languageconfiguration.togglelinecommentcommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.compare.contentViewers">
      <contentTypeBinding
            contentTypeId="org.eclipse.corrosion.toml"
            contentViewerId="org.eclipse.ui.genericeditor.compareViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.ui.genericeditor.compareViewer"
            contentTypeId="org.eclipse.corrosion.toml">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentViewers">
      <contentTypeBinding
            contentTypeId="org.eclipse.corrosion.rust"
            contentViewerId="org.eclipse.ui.genericeditor.compareViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.ui.genericeditor.compareViewer"
            contentTypeId="org.eclipse.corrosion.rust">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
       <consolePatternMatchListener
            class="org.eclipse.corrosion.ErrorLineMatcher"
            id="org.eclipse.corrosion.ErrorLineMatcher"
            regex="(?&lt;=-->\s).*:\d+:\d+">
         <enablement>
            <test property="org.eclipse.ui.console.consoleTypeTest" value="org.eclipse.debug.ui.ProcessConsoleType"/>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.icons">
      <icon
            contentType="org.eclipse.corrosion.rust"
            icon="icons/rustEditorIcon.png">
      </icon>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.corrosion.launch.LaunchHandler"
            commandId="rls.run">
      </handler>
   </extension>
   <extension
         point="org.eclipse.unittest.ui.unittestViewSupport">
      <viewSupport
            class="org.eclipse.corrosion.test.CargoTestViewSupport"
            id="org.eclipse.corrosion.unitTestSupport">
      </viewSupport>
   </extension>

</plugin>
